<h2>@<%= @user.username %>'s Profile & Tweets</h2>
<div class="row">
  <div class="col-md-3 well">
    <div class="row">
      <div class="col-md-3">
        <% if current_user.avatar.url != nil %>
          <%= image_tag @user.avatar.url, class: "pic-user-stats" %>
        <% end %>  
      </div>
      <div class="col-md-5 col-md-offset-1">
        <p>
          <strong><%= @user.name %></strong>
        </p>
        <p>
          @<%= "#{@user.username}" %>
        </p>
      </div>
    </div>  
    <div class='row'>
      <div class='col-md-offset-1 mtop-10'>
        <em><%= @user.location %></em>
        <p><%= @user.bio %></p>
      </div> 
      <p class='center-it' id='pad-19'>
        <% if current_user.following.include?(@user.id) %>
          <%= link_to "Following", unfollow_path(id: @user.id), class: "btn btn-primary", id: "unfollow_btn" %>
        <% else %>
          <% if current_user.id != @user.id %>
            <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-1">
    <div>
      <% @user.tweets.each do |tweet| %>
        <div class="well">
          <p>
            <% if current_user.avatar.url != nil %>
              <%= image_tag tweet.user.avatar.url, class: "pic-user-sm" %>&nbsp;
            <% end %>  
            <%= tweet.user.name %> 
            @<%= tweet.user.username %>
            &#8226; <%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %> <%= tweet.created_at.strftime('%b %e') if Time.now - tweet.created_at > 86400 %> 
          </p>
          <p><%= tweet.message.html_safe %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>