<br>
<div class="row bg-img">
  <div class="col-md-6 col-md-offset-3">
    <div class="col-md-3 pad-bot-25"><h2>Log in</h2> </div>
    <div class='col-md-9' id='link'><%= link_to 'Sign up', new_user_registration_path %></div> 
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, placeholder: "Email Address", class: "form-control", autofocus: true %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, placeholder: "Password", class: "form-control",autocomplete: "off" %>
      </div>
      <div class='row'>
        <% if devise_mapping.rememberable? -%>
          <div class="form-group col-md-3 col-md-offset-6">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
          </div>
        <% end -%>
        <div class='col-md-3 pull-right'>
          <%= link_to 'Forgot password?'%>
        </div> 
      </div>
      <div class="form-group">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>