<br>
<div class="row bg-img">
  <div class="col-md-6 col-md-offset-3">
      <div class="col-md-3" id='pad-25'><h2>Log in</h2> </div>
      <div class='col-md-9' id='link'><%= link_to 'Sign up', new_user_registration_path %></div> 
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, placeholder: "Email Address", class: "form-control", autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, placeholder: "Password", class: "form-control",autocomplete: "off" %>
      </div>

      <div class='row'>
        <div class="col-md-7 col-md-offset-2" id='pull-right'>
          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
        </div class="col-md-5" id='pull-right'>
        <div>
          <%= link_to 'Forgot password?'%>
        </div>    
      </div>


      <div class="form-group">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>